@font-face {
    font-family: 'Noto_sans';
    src: url(../fonts/NotoSansKR-VariableFont_wght.ttf);
}
body {
    margin: 0;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
#wrap {
    width: 100%;
    font-family: 'Noto_sans';
    position: relative;
}
.contents_area {
    max-width: 1256px;
    padding: 0 60px;
    margin: 0 auto;
}
a {
    text-decoration: none;
    color: inherit;
}
p, h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
    font-size: 14px;
}
h3, h4 {
    padding: 20px 0;
    margin: 0;
    font-size: 19px;
    font-weight: 700;
}
h3 { width: 100%; }
h4 { width: 80%; }

input[name="nav"] { display: none; }
input[name="hamber"] { display: none; }

.title {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title > p {
    color: #35c5f0;
    cursor: pointer;
    font-weight: 700;
}

/* 
//////////////////////////////////////////////
*/
.hamber, .hamber_menu {
    display: none;
}
.header {
    width: 100%;
    height: 130px;

    display: flex;
    flex-wrap: wrap;
}
.header_top {
    width: 100%;
    height: 80px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}
.logo {
    padding-right: 30px;
    flex-shrink: 0;
}
.header_menu {
    width: auto;
    font-weight: 700;
    font-size: 16px;

    display: flex;
    flex-shrink: 0;
    gap: 20px;
}
.header_menu > label:hover {
    color: #35c5f0;
}
.header_box {
    width: 100%;
    display: flex;
    align-items: center;
}
.header_box a {
    width: auto;
    height: 40px;

    display: flex;
    align-items: center;
}
.text_box {
    width: 100%;
    height: 40px;
    border: 1px solid rgb(190, 190, 190);
    box-sizing: border-box;
    border-radius: 3px;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search, .camera, .career {
    width: 25px;
    height: 25px;
    padding: 0 5px;
}
.career {
    padding: 0 15px;
}
.text_box > input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 15px;
}
.info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}
.info > div {
    padding: 0 10px;
    color: #8a8a8a;
}
.info > div:last-child {
    border-left: 1px solid #EAEDEF;
}
.write_box {
    width: 100px;
    height: 40px;
    background: #35c5f0;
    border-radius: 5px;
    margin-left: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    position: relative;
}
.write_box > p {
    color: #fff;
    font-weight: 700;
}
.write_box > a {
    transform: scale(0.6) rotateZ(90deg);
}
.carrot {
    width: 10px;
    height: 10px;
    background: #fff;
    box-shadow: -1px -1px 1px 0px #929292;

    position: absolute;
    top: 125%;
    left: 50%;

    transform: translateX(-50%) rotate(45deg);
    z-index: 99;
    display: none;
}
.carrot_pan {
    width: 300px;
    height: 400px;
    background: #fff;
    box-shadow: 0 0 1px 1px #929292;

    position: absolute;
    top: 138%;
    left: 50%;

    transform: translateX(-50%);
    z-index: 9;
    display: none;
}
input[id="write_box"] { display: none;}

#write_box:checked ~ label > .write_box > .carrot,
#write_box:checked ~ label > .write_box > .carrot_pan {
    display: block;
}
/* 
/////////////////////////////////////////////////////////
*/
.nav {
    width: 100%;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid rgb(233, 233, 233);
    border-top: 1px solid rgb(233, 233, 233);
}
.nav1, .nav2, .nav3 {
    text-align: center;
}
.nav > .contents_area > .nav_box {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.nav_box ul {
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
    gap: 20px;
    font-weight: 700;
}
.nav_box li{
    flex-shrink: 0;
}
.nav_box > div {
    font-size: 16px;
    font-weight: 600;
    color: #6e6e6e;
    flex: 0 0 auto;
}
.nav > .contents_area {
    display: none;
}
#nav1:checked ~ .nav > .nav1,
#nav2:checked ~ .nav > .nav2,
#nav3:checked ~ .nav > .nav3 {
    display: flex;
}

/* 
//////////////////////////////////////////////////////
*/
.container {
    margin-top: 40px;
}
.main_banner {
    width: 100%;
    height: 41vw;
    max-height: 565px;

    display: flex;
    gap: 20px;
}
.banner_L, .banner_R {
    height: 100%;
    border-radius: 20px;
    overflow: hidden; 
}
.banner_L {
    width: 75%;
    padding: 40px;
    box-sizing: border-box;

    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    position: relative;
}
.banner_L > img {
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;

    transform: scale(1.0);
    transition: all 0.5s;
}
.banner_L > p, .banner_L > div {
    z-index: 9;
}
.banner_L > .meeting:hover {
    border: 1px solid transparent;
    background: #35c5f0;
}
.banner_L > p {
    width: 70%;
    font-size: 35px;
    font-weight: 600;
    color: #fff;
}
.meeting {
    border: 1px solid;
    border-radius: 5px;
    padding: 20px 50px;

    font-size: 16px;
    color: #fff;
    text-align: center;
}
.black_out {
    display: none;
}
.banner_R {
    width: 25%;
    height: 100%;
    background-color: #3ba6dd;
}
.banner_R > img {
    width: 100%;
    transform: scale(1);
    transition: all 0.5s;
}
.banner_L > img:hover, .banner_R > img:hover {
    transform: scale(1.1);
}

/* 
////////////////////////////////////////////////////
*/

.icon_menu {
    height: 10vw;
    margin-top: 30px;
    text-align: center;

    display: flex;
}
.icon_menu > div {
    width: calc(100% / 8);
}
.icon_menu > div > img {
    width: 100%;
}

/* 
/////////////////////////////////////////////////////
*/

.story {
    margin-top: 40px;
}
.story_main {
    width: 100%;
    display: flex;
    gap: 20px;
}
.story_main > div > p {
    width: 100%;
    margin: 10px 0;
    padding: 0 10px;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: 700;
}
.story_main > div {
    width: calc((100% - 60px) / 4);
}
.story_img {
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
    font-size: 0;
}
.story_img > img {
    width: 100%;
    transform: scale(1);
    transition: all 0.5s;
}
.story_img:hover > img {
    transform: scale(1.1);
}
.story_txt {
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
}
.story_txt > div {
    width: 100%;
    background: #dcdcdc;
    padding: 15% 20px;
}
.story_txt > div:hover {
    background: #8a8a8a;
}

/* 
//////////////////////////////////////////////////
*/
.category {
    margin-top: 40px;
}
.category_img {
    width: 100%;
    text-align: center;

    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
.category_img > div {
    width: calc(100% / 10);
    box-sizing: border-box;
}
.category_img > div > img {
    width: 60%;
}
.category p {
    font-size: 16px;
    font-weight: 400;
}

/* 
/////////////////////////////////////////////
*/

.deal {
    margin-top: 40px;
    
    display: flex;
    flex-wrap: wrap;
}

.deal_main {
    width: 100%;
    padding-bottom: 70px;

    display: flex;
    gap: 20px;
}
.deal_box {
    width: calc(100% / 4);
    border-radius: 5px;
    overflow: hidden;

    position: relative;
}
.deal_img {
    width: 100%;
    overflow: hidden;
    font-size: 0;
}
.deal img {
    width: 100%;

    transform: scale(1);
    transition: all 0.5s;
}
.deal_img:hover > img {
    transform: scale(1.1);
}
.deal_remain {
    padding: 5px 8px;
    background-color: rgb(238, 116, 100);
    border-radius: 5px;

    font-size: 12px;
    font-weight: 700;
    color: #fff;

    position: absolute;
    top: 15px;
    left: 15px;
}
.deal_txt {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
.deal_txt > h1 {
    font-size: 12px;
    color: #8a8a8a;
}
.deal_txt > h2 {
    font-size: 15px;
    color: #676767;
}
.deal_txt > p {
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
}
.deal_txt > p:nth-child(3) {
    color: rgb(238, 116, 100);
}

/* 
////////////////////////////////////////////////////
*/

.picture {
    width: 100%;
    margin-top: 40px;
}
.picture_main {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.picture_box {
    background: #ddd;
    width: calc((100% - 60px) / 4);
    height: 17.9vw;
    border-radius: 5px;
    overflow: hidden;

    position: relative;
}
.picture_box > img {
    height: 100%;
    transform: scale(1);
    transition: all 0.5s;
}
.picture_box:hover > img {
    transform: scale(1.1);
}
.ribbon {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: rgba(36, 182, 239, 0.8);
    color: #fff;
    font-weight: 700;

    position: absolute;
    top: 0;
    left: 10px;
}
.picture_txt {
    display: inline-block;
    padding: 2px 8px;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    background: rgba(0, 0, 0, 0.3);

    position: absolute;
    bottom: 15px;
    left: 15px;
}

/* 
/////////////////////////////////////////////////////
*/

.banner_magazine {
    width: 100%;
    margin-top: 60px;
    margin-bottom: 60px;

    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.banner_magazine > img {
    width: 100%;
}
.magazine {
    width: calc((100% - 20px) / 2);
    background: #cbcbcb;
    height: 80px;
}

/* 
////////////////////////////////////////////////////
*/

.footer {
    width: 100%;
    height: 200px;
    background-color: #454545;
}

@media screen and (max-width: 1480px) {
    .carrot_pan {
        top: 138%;
        left: -10%;
    }
}
@media screen and (max-width: 1024px) {
    .text_box > input, .camera {
        display: none;
    }
    .text_box {
        height: 50px;
        border: 0px solid rgb(190, 190, 190);
    
        justify-content: flex-end;
    }
    .category_main {
        overflow: auto;
    }
    .category_img {
        min-width: 140%;
        text-align: center;
        padding: 0 30px;
    
        flex-wrap: nowrap;
        align-content: center;
        gap: 70px;
    }
    .category_img img {
        border: 1px solid #ddd;
        border-radius: 15px;
    }
    .category_img p {
        font-weight: 700;
        font-size: 13px;
        margin-top: 10px;
    }
    .category_img > div > img {
        width: 100%;
    }
            
    .deal_box {
        width: calc(100% / 3);
    }
    .deal_box:nth-child(4) {
        display: none;
    }
    .deal_remain {
        font-size: 11px;
    }
    .deal_txt > h1 {
        font-size: 11px;
    }
    .deal_txt > h2 {
        font-size: 13px;
    }
    .deal_txt > p {
        font-size: 16px;
    }
    .deal_txt > p:nth-child(3) {
        color: rgb(238, 116, 100);
    }
}

@media screen and (max-width: 870px) {
    .contents_area {
        padding: 0 30px;
    }

}
@media screen and (max-width: 800px) {
    .nav {
        overflow: auto;
    }
    .nav > .contents_area > .nav_box {
        font-size: 0;
        min-width: 720px;
    }
}


@media screen and (max-width: 768px) {
    .header {
        width: 100%;
        height: 90px;
        background-color: #fff;
        box-shadow: 0 0 5px 0px #909090;
    
        display: flex;
        flex-wrap: wrap;

        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;
    }
    .logo {
        padding-right: 0px;
        flex: 0 0 auto;
        
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%) scale(0.8);
    }
    .header_top {
        height: 50px;
        padding: 0 15px;
    
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid rgb(233, 233, 233);

        position: relative;
    }
    .header_menu {
        display: none;
    }
    .header_box {
        width: auto;
        display: flex;
    }
    .text_box {
        width: 100%;
        height: 40px;
        border: none;
        overflow: visible;
    
        display: flex;
    }
    .header_box a {
        width: 50px;
        height: 50px;
    
        display: flex;
        align-items: center;
    }
    .search, .camera, .career {
        width: 30px;
        height: 30px;
        padding: 0 5px;
    }
    .text_box > input, .text_box > a:nth-child(3){
        display: none;
    }
    .info > div {
        display: none;
    }
    .write_box {
        display: none;
    }
    .nav {
        width: 100%;
        height: 40px;
        line-height: 40px;
        border-bottom: 0px solid rgb(233, 233, 233);
        border-top: 0px solid rgb(233, 233, 233);
        overflow: visible;
    }
    .nav > .contents_area {
        padding: 0;
    }
    .nav_box > div {
        display: none;
    }
    .nav_box ul {
        width: 100%;
        justify-content: center;
        gap: 20px;
        font-weight: 700;
        font-size: 14px;
    }
    .nav_box li{
        flex: 0 0 auto;
    }
    .container {
        margin-top: 90px;
    }
    .hamber {
        width: 25px;
        height: 25px;
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
    }
    .stick {
        width: 100%;
        height: 3px;
        background: #35c5f0;
    }

    input[name="hamber_txt"] {display: none;}

    .hamber_menu {
        display: block;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.5);
        opacity: 0;
        transition: all 0.3s;

        position: fixed;
        top: 0;
        left: 0;
        z-index: -9;
    }
    .hamber_list {
        width: 75%;
        height: 100%;
        padding: 20px;
        box-sizing: border-box;
        background: #fff;
        transition: all 0.3s;

        position: relative;
        top: 0;
        left: -100%;
    }
    #hamber:checked ~ #wrap {
        height: 100vh;
        overflow: hidden;
    }
    #hamber:checked ~ #wrap > .hamber_menu {
        opacity: 1;
        z-index: 99999;
    }
    #hamber:checked ~ #wrap > .hamber_menu > .hamber_list {
        left: 0;
    }
    #hamber2:checked ~ #wrap > .hamber_menu > .hamber_list {
        left: -100%;
    }
    .hamber_close {
        display: inline-block;
        background: orange;
        padding: 5px 10px;
    }
    .hamber_txt {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .skyblue_box {
        width: 100%;
        height: 200px;
        background: skyblue;
    }
    .black_box {
        width: 100%;
        height: 220px;
        background: #000;
    }
    .hamber_txt_box {
        width: 100%;
        overflow: hidden;
        padding: 0 10px;
        box-sizing: border-box;
        border-top: 1px solid #a4a4a4;
        border-bottom: 1px solid #a4a4a4;
    }
    .hamber_txt_title {
        width: 100%;
        height: 50px;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .hamber_txt_title > p {
        font-size: 18px;
        font-weight: 600;
    }
    .hamber_txt_title > svg {
        padding: 0 10px;
        transform: rotate(-90deg);
        transition: all  0.5s;
    }
    .hamber_txt_box ul {
        height: 0;
        transform-origin: top;
        
        transition: all 0.5s;
    }
    .hamber_txt_box li {
        padding: 5px 0;
        font-weight: 600;
    }
    #hamber_txt1:checked ~ .hamber_txt > .hamber_txt_box:nth-child(1) ul,
    #hamber_txt2:checked ~ .hamber_txt > .hamber_txt_box:nth-child(2) ul,
    #hamber_txt3:checked ~ .hamber_txt > .hamber_txt_box:nth-child(3) ul {
        height: 300px;
    }
    #hamber_txt1:checked ~ .hamber_txt > .hamber_txt_box:nth-child(1) p,
    #hamber_txt2:checked ~ .hamber_txt > .hamber_txt_box:nth-child(2) p,
    #hamber_txt3:checked ~ .hamber_txt > .hamber_txt_box:nth-child(3) p {
        color: #35c5f0;
    }
    #hamber_txt1:checked ~ .hamber_txt > .hamber_txt_box:nth-child(1) svg,
    #hamber_txt2:checked ~ .hamber_txt > .hamber_txt_box:nth-child(2) svg,
    #hamber_txt3:checked ~ .hamber_txt > .hamber_txt_box:nth-child(3) svg {
        transform: rotate(90deg);
    }

    /* 
    ////////////////////////////////////////////////////
    */

    .main_banner {
        padding: 0;
        height: auto;
        max-height: 1000px;
    
        gap: 0px;
        flex-wrap: wrap;
    }
    .banner_L, .banner_R {
        width: 100%;
        height: auto;
        border-radius: 0px;
        overflow: visible; 
    }
    .banner_L {
        width: 100%;
        height: 494px;
        background: url(../img/오늘의집/main_banner/main_banner_L.jpg) no-repeat center / contain;
    
        flex-wrap: wrap;
        align-content: center;
        align-items: none;
        justify-content: none;
    }
    .black_out {
        display: block;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.3);

        position: absolute;
        top: 0;
        left: 0;
    }
    .banner_L > img {
        display: none;
    }
    .banner_L > .meeting:hover {
        border: 1px solid transparent;
        background: #35c5f0;
    }
    .banner_L > p {
        width: 100%;
        padding: 10px 0;
        font-size: 20px;
    }
    .meeting {
        padding: 10px 40px;
        flex: 0 0 auto;

        font-size: 14px;
    }
    .banner_R > img:nth-child(1) {
        display: none;
    }
    .banner_L > img:hover, .banner_R > img:hover {
        transform: scale(1);
    }

    /* 
    //////////////////////////////////////////////////////////
    */

    .icon_menu {
        height: auto;
        flex-wrap: wrap;
    }
    .icon_menu > div {
        width: calc(100% / 4);
    }

    /* 
    ////////////////////////////////////////////////////////
    */

    .story_main {
        flex-wrap: wrap;
        gap: 10px;
    }
    .story_main > div > p {
        font-size: 14px;
    }
    .story_main > div {
        width: calc((100% - 10px) / 2);
        height: 300px;
    }
    .story_txt > div {
        padding: 10% 20px;
    }
    
    /* 
    //////////////////////////////////////////////////////////
    */

    .category {
        margin-top: 40px;
    }
    .category_img {
        min-width: 240%;
        padding: 0 50px;
        flex-wrap: nowrap;
        align-content: center;
        gap: 80px;
    }
    .category_img > div > img {
        width: 100%;
        border-radius: 35%;
    }
    .category p {
        font-size: 13px;
    }
    
    /* 
    /////////////////////////////////////////////////////////
    */

    .deal {
        margin-top: 40px;
        
        display: flex;
        flex-wrap: wrap;
    }

    .deal_main {
        width: 100%;
        padding-bottom: 70px;

        display: flex;
        gap: 0px;
    }
    .deal_box {
        width: 100%;
        border-radius: 5px;
        overflow: hidden;

        position: relative;
    }
    .deal_img {
        width: 50%;
        overflow: hidden;
        font-size: 0;
        transform: scale(1);
        transition: all 0.5s;
    }
    .deal_img:hover > img {
        transform: scale(1.1);
    }
    .deal_remain {
        padding: 5px 8px;
        background-color: rgb(238, 116, 100);
        border-radius: 5px;

        font-size: 12px;
        font-weight: 700;
        color: #fff;

        position: absolute;
        top: 15px;
        left: 15px;
    }
    .deal_txt {
        width: 50%;
        padding: 10px;
        box-sizing: border-box;
    }
    .deal_txt > h1 {
        font-size: 12px;
        color: #8a8a8a;
    }
    .deal_txt > h2 {
        font-size: 15px;
        color: #676767;
    }
    .deal_txt > p {
        display: inline-block;
        font-size: 18px;
        font-weight: 700;
    }
    .deal_txt > p:nth-child(3) {
        color: rgb(238, 116, 100);
    }

}