body { margin: 0; }

#wrap {
    border-top: 5px solid #009132;
    /* font-family: m; */
}
.header {
    /* border: 1px solid; */
    width: 100%;
    height: 170px;

}
.header_top {
    background-color: antiquewhite;
    width: 1200px;
    height: 120px;
    padding-top: 40px;
    box-sizing: border-box;
    margin: 0 auto;
    position: relative;
}
/* 로고 백그라운드에 웹 접근성을위해 읽혀지는 글씨를 넣어둠.
근데 글씨가 보여서 display:none으로 해버리면 글씨도 안읽힐 수 있기 때문에 화면 밖으로 빼버림.  (위나 왼쪽으로 = 스크롤바 안생기게)
= text-indent 
텍스트 인덴트는 block 레벨인 애들에게 줄 수 있음 = display:block*/
.logo {
    width: 200px;
    height: 40px;
    margin: 0 auto;
    background: url(../img/subway/logo_w.png) no-repeat center / cover;

    position: absolute;
    top: 40px;
    left: calc(50% - 100px);
}
.header_menu {
    /* border: 1px solid; */
    width: auto;
    height: 30px;
    line-height: 30px;
    float: right;

    font-size: 13px;
    color: #5b5b5b;
    
}
.header_txt {
    float: left;
    text-align: center;
    padding: 0 20px;
}
.header_lang {
    width: 30px;
    height: 30px;
    background: url(../img/subway/icon_global_subway.png) no-repeat center / 20px;
    float: left;
}
.nav {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 0;
}
.nav_txt {
    font-size: 14px;
    font-weight: 900;
    padding: 0 30px;
    display: inline-block;
    cursor: pointer;
}
.nav_txt:hover {
    color: #009132;
    text-decoration: underline;
}
.container {
    /* background-color: aqua; */
    width: 100%;
    position: relative;
}
.banner {
    width: 100%;
    height: 450px;
    background: url(../img/subway/main_banner1.jpg) no-repeat center / cover;

    position: relative;
}
.banner_btn {
    width: 100px;
    height: 450px;
    line-height: 450px;
    text-align: center;
    font-size: 50px;
    font-weight: 900;
    color: #fff;
    opacity: 0.3;
}
.banner_btn_left {
    float: left;
}
.banner_btn_right {
    float: right;
}
.banner:hover .banner_btn {
    background-color: rgba(0,0,0,0.2);
    opacity: 1;
}
.main {
    /* border: 1px solid; */
    /* background-color: #01a5e2; */
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    /* position: relative; */
}
.simple_banner {
    width: 1200px;
    height: 80px;
    margin: 0 auto;
    position: relative;

}
.simple_menu {
    /* border: 1px solid; */
    width: 600px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    border-radius: 20px 0 20px 0;
    overflow: hidden;

    position: absolute;
    top: -40px;
    right: 0;
}
.simple_menu_box{
    width: 50%;
    height: 100%; 
    float: left;
    font-size: 18px;
    font-weight: 900;
}
.yellow { 
    background-color: yellow;
    color: #000;
}
.green { 
    background-color: #009132;
    color: #fff;
}
.img_box {
    /* border: 1px solid; */
    vertical-align: middle;
    padding: 0 10px;
}
.sub_menu {
    /* border: 1px solid; */
    width: 100%;
    /* height: 290px; */
    margin: 70px 0 150px;
    overflow: hidden;
}
.menu_title_box {
    width: 100%;
    float: left;
}
.menu_title {
    float: left;
    font-size: 25px;
    font-weight: 900;
    letter-spacing: -1px;
}
.menu_category {
    float: right;
    font-size: 12px;
}
.menu_category_txt {
    float: left;
    padding: 0 8px;
    border-right: 1px solid;
    line-height: 1;
}
.border_none {
    border: none;
}
.menu_img {
    /* border: 1px solid; */
    width: calc((100% - 8px) / 4);
    /* height: 200px; */
    float: left;
    text-align: center;
    overflow: hidden;
    padding-top: 20px;
}
.sandwich_txt1 {
    width: 100%;
    /* height: 200px; */
    font-weight: 900;
    padding: 200px 0 20px 0;
}
.sandwich_txt2 {
    width: 210px;
    margin: 0 auto;
}
.sandwich1 { background: url(../img/subway/sandwich_cl01.jpg) no-repeat top / 270px; }
.sandwich2 { background: url(../img/subway/sandwich_cl02.jpg) no-repeat top / 270px; }
.sandwich3 { background: url(../img/subway/sandwich_cl03.jpg) no-repeat top / 270px; }
.sandwich4 { background: url(../img/subway/sandwich_cl04.jpg) no-repeat top / 270px; }

.event {
    background-color: skyblue;
    width: 100%;
    height: 800px;
    padding: 70px 0;
    box-sizing: border-box;
}
.event_mainbox {
    /* border: 1px solid; */
    width: 1200px;
    height: 800px;
    margin: 0 auto;
    position: relative;
}
.event_box {
    /* border: 1px solid; */
    box-sizing: border-box;
    position: absolute;
}
.event1 {
    width: 400px;
    height: 300px;
    background: #01a5e2 url(../img/subway/event1.png);
    white-space: pre-wrap;
    color: #fff;
    padding: 30px;
    border-radius: 30px 0px 30px 30px;
    font-size: 20px;
    top: 0;
    left: 0;
}
.event2 {
    width: 825px;
    height: 300px;
    background: url(../img/subway/event2.png);
    top: 0;
    right: -55px;
}
.event3 {
    background-color: #fff;
    width: 900px;
    height: 300px;
    border-radius: 30px 0px 30px 0;
    left: 0;
    bottom: 150px;
    /* overflow: hidden; */
}
.event3_box1 {
    /* background-color: antiquewhite; */
    width: 30%;
    height: 100%;
    float: left;
    padding: 60px 0px 0 60px;
    box-sizing: border-box;
}
.event3_box1_txt1 {
    font-size: 34px;
    font-weight: 900;
    padding: 20px 0;
}
.event3_box1_txt2 {
    white-space: pre-wrap;
}
.event3_box2 {
    /* background-color: aquamarine; */
    width: 70%;
    height: 100%;
    float: left;
    box-sizing: border-box;
    padding-top: 80px;
    padding-left: 100px;
}
.event3_box2_txt1 {
    font-size: 14px;
    font-weight: 900;
    padding-bottom: 20px;
}
.event3_box2_txt2 {
    font-size: 12px;
    /* font-weight: 900; */
    padding: 20px 0;
}
.event4 {
    width: 270px;
    height: 300px;
    background: url(../img/subway/event4.jpg);
    border-radius: 0px 30px 0px 30px;
    right: 0;
    bottom: 150px;
}
.event3_box2_txt1:hover {
    color: #009132;
    text-decoration: underline;
}