.container {
    /* 방법1 -contents_area에 margin: 0 auto 가 있어서 여기서 새로 margin: 80px 0 으로 주면 auto가 깨진다. 그래서 방법3개로 대체할수 있음 */
    /* margin-top: 80px;
    margin-bottom: 80px; */

    /* 방법2 */
    /* margin: 80px auto; */

    /* 방법3 */
    padding: 80px 0; 

    overflow: hidden;
}

.item {
    width: calc((100% - (20px * 2)) / 3);
    height: 600px;
    margin-right: 20px;
    float: left; 
}
.item_img {
    width: 100%;
    height: 445px;
    overflow: hidden; 
}
.item_img img {
    width: 100%;  
} 
.item_desc {
    font-size: 14px; 
    color: #555;
    padding: 10px;
}
.item_title {
    margin: 10px 0;
}
.s_price {
    color: skyblue;
    margin-top: 10px;
}







.mr_0 { margin-right: 0;}